site_name: CommRL
theme:
  name: readthedocs
  highlightjs: true
plugins:
  - search
  - mkdocstrings:
      handlers:
        # See: https://mkdocstrings.github.io/python/usage/
        python:
          options:
            docstring_style: sphinx
markdown_extensions:
  - markdown_include.include:
      base_path: .
  - admonition

nav:
  - 'Introduction': index.md
  - 'Lit Review':
      - 'Literature_Reviews/CommNet.md'
      - 'Literature_Reviews/DIAL_RIAL.md'
      - 'Literature_Reviews/ATOC.md'
  - 'Task Carried Out':
      - 'tasks/tasks_carried.md'
  - 'Findings':
      - 'Findings/KL_divergence.md'
      
      
